.top-banner {
    background-image: url("../../assets/images/slide-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2f5bea;
    min-height: 540px;
}

.banner-content {
    color: white;
}

.banner-content h2 {
    font-size: 48px;
    padding-top: 115px;
    font-weight: bold;
    letter-spacing: 1px;
}

.banner-content p {
    color: #93B9FF;
    margin-top: 40px;
    font-size: 18px;
}

ul.common-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.remaining-time {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
}

.remaining-time .time-content {
    background: white;
    width: 700px;
    min-height: 200px;
    border-radius: 10px;
    margin: 0 auto;
    -webkit-box-shadow: 5px 7px 15px 1px rgb(101 101 101 / 33%);
    box-shadow: 5px 7px 15px 1px rgb(101 101 101 / 33%);
    padding: 30px 20px 70px 20px;
    position: relative;
}

.remaining-time .time-content:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 5px;
    background: #FDB72E;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.remaining-time .time-content .title {
    color: #D7D9E0;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.time-content ul li span {
    color: #d5d5d7;
    font-size: 40px;
}

.time-content ul li time {
    color: #1d4078;
    font-size: 70px;
    font-weight: 300;
}

.time-content ul li div {
    color: #93B9FF;
    font-size: 21px;
    font-weight: bold;
}

.time-content ul.common-ul {
    display: flex;
    flex-direction: row;
}

.time-content ul.common-ul li {
    position: relative;
    flex-grow: 4;
}

.time-content ul.common-ul li:before {
    position: absolute;
    content: '';
    background: #d8d8da;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 30px;
    right: 0;
}

.time-content ul.common-ul li:after {
    position: absolute;
    content: '';
    background: #d8d8da;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    right: 0;
    bottom: 50px;
}

.time-content ul.common-ul li:last-child:before {
    display: none;
}

.time-content ul.common-ul li:last-child:after {
    display: none;
}

/* Youth Forum */
.forum-container .heading {
    margin-bottom: 40px;
}

.content-item:nth-child(1) .img-wrap {background: #f2f1ff;}
.content-item:nth-child(2) .img-wrap {background: #fcb72e;}
.content-item:nth-child(3) .img-wrap {background: #2e5bea;}
.content-item:nth-child(4) .img-wrap {background: #c23138;}
.content-item:nth-child(5) .img-wrap {background: #5ebaab;}

.content-row .content-item .img-wrap {
    width: 100px;
    height: 100px;
    /*background: tomato;*/
    border-radius: 50%;
    margin: 0 auto 50px auto;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.content-row .content-item .img-wrap img {
    padding: 10px;
    max-width: 100%;
    width: 75px;
}

/* End forum BG */
.end-forum {
    border-bottom: 1px solid #eaeaec;
    margin-bottom: 50px;
    min-height: 150px;
}

.end-forum .end-forum-bg {
    position: relative;
}

.end-forum .end-forum-bg:before {
    content: '';
    position: absolute;
    background-image: url("../../assets/images/l-triangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2f5bea;
    width: 200px;
    height: auto;
}

/* Count section design */
.count-col .count-item {
    padding: 0 60px;
    margin-bottom: 100px;
}

.count-col .count-item h2 {
    color: #223F78;
    font-size: 90px;
    font-weight: lighter;
}

.count-col .count-item b {
    color: #223F78;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 5px;
    font-size: 14px;
    font-weight: bold;
}

.count-col .count-item p {
    font-size: 14px;
    color: #7E8085;
    font-weight: 200;
}

/* Google map */
#map {
    height: 400px;
    width: 100%;
}

/* About forum */
.forum-map {
    position: relative;
    z-index: 1;
}

.pattern-green:before, .pattern-blue:before, .diamond-bg:after {
    position: absolute;
    content: '';
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.pattern-green:before {
    background-image: url("../../assets/images/pattern-g.png");
    bottom: -30px;
    left: 25px;
    width: 100%;
    height: 100%;
}

.pattern-blue:before {
    background-image: url("../../assets/images/pattern-b.png");
    bottom: -30px;
    left: 25px;
    width: 100%;
    height: 100%;
}

.diamond-bg:after {
    background-image: url(../../assets/images/diamond.png);
    top: -100px;
    left: -105px;
    width: 180px;
    height: 210px;
}

.af-row {
    padding: 100px 0;
}

.map-col {
    padding-right: 50px;
}

.forum-map img {
    max-width: 100%;
}

.content-col {
    padding-left: 50px;
}

/* Moderator design */
.m-container:after {
    position: absolute;
    content: '';
    z-index: -1;
    background-image: url("../../assets/images/pattern-big.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 35%;
}

.m-container {
    position: relative;
    padding-top: 100px;
    margin-bottom: 200px;
}

.m-container h3 {
    margin-bottom: 40px;
}

.m-row {
    max-width: 800px;
    margin: 0 auto;
}

.m-col .card-item {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 40px 0 70px 0;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 /5%);
}

.m-col .card-item .img-wrap {
    position: relative;
}

.m-col .card-item .img-wrap .mask {
    width: 190px;
    height: 190px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.m-col .card-item .img-wrap .mask img {
    width: 224px;
    margin-left: -25px;
}

.m-col .card-item .img-wrap img.flag {
    width: 42px;
    position: absolute;
    bottom: 5px;
    right: 95px;

}

.m-col .card-item .content h3 {
    color: #2C2E30;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 40px;
    font-size: 28px;
}

.m-col .card-item .content span {
    color: #7E8085;
    font-size: 16px;
}

/* Big map design */
.bm-container {
    text-align: center;
}

.bm-container img {
    max-width: 100%;
    height: auto;
}





