.top-banner {
    background-image: url("../../assets/images/slide-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2f5bea;
    min-height: 540px;
}

.banner-content {
    color: white;
}

.banner-content h2 {
    font-size: 45px;
    padding-top: 100px;
    font-weight: 600;
}

.banner-content p {
    color: #8ab3ff;
    margin-top: 30px;
    font-size: 16px;
}

ul.common-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.remaining-time {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 110px;
}

.remaining-time .time-content {
    background: white;
    width: 700px;
    min-height: 200px;
    border-radius: 10px;
    margin: 0 auto;
    -webkit-box-shadow: 5px 7px 15px 1px rgb(101 101 101 / 33%);
    box-shadow: 5px 7px 15px 1px rgb(101 101 101 / 33%);
    padding: 20px 20px 60px 20px;
    position: relative;
}

.remaining-time .time-content:before {content: '';position: absolute;width: 100px;height: 5px;background: #feb62e;top: 0;margin: 0 auto;left: 0;right: 0;}

.remaining-time .time-content .title {
    color: #d8d7dc;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 5px;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.time-content ul li span {
    color: #d5d5d7;
    font-size: 40px;
}

.time-content ul li time {
    color: #1d4078;
    font-size: 70px;
    font-weight: 100;
}

.time-content ul li div {
    color: #a0b7e9;
    font-size: 18px;
}

.time-content ul.common-ul {
    display: flex;
    flex-direction: row;
}

.time-content ul.common-ul li {
    position: relative;
    flex-grow: 4;
}

.time-content ul.common-ul li:before {
    position: absolute;
    content: '';
    background: #d8d8da;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    top: 30px;
    right: 0;
}

.time-content ul.common-ul li:after {
    position: absolute;
    content: '';
    background: #d8d8da;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    right: 0;
    bottom: 50px;
}

.time-content ul.common-ul li:last-child:before {
    display: none;
}

.time-content ul.common-ul li:last-child:after {
    display: none;
}

/* Youth Forum */
.forum-container .heading h4 {
    color: #8eb9fd;
    font-size: 25px;
    margin-bottom: 25px;
}

.forum-container .heading h3 {
    color: #213d7e;
    font-size: 45px;
    font-weight: 600;
}

.forum-container .heading {
    margin-bottom: 40px;
}

.content-item:nth-child(1) .img-wrap {background: #f2f1ff;}
.content-item:nth-child(2) .img-wrap {background: #fcb72e;}
.content-item:nth-child(3) .img-wrap {background: #2e5bea;}
.content-item:nth-child(4) .img-wrap {background: #c23138;}
.content-item:nth-child(5) .img-wrap {background: #5ebaab;}
/*body{background-color: red}*/

.content-row .content-item .img-wrap {
    width: 100px;
    height: 100px;
    /*background: tomato;*/
    border-radius: 50%;
    margin: 0 auto 50px auto;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.content-row .content-item .img-wrap img {
    padding: 10px;
    max-width: 100%;
    width: 75px;
}

.content-row .content-item p.para {
    color: #444;
    text-align: justify;
    line-height: 1.4;
}

/* End forum BG */
.end-forum {
    border-bottom: 1px solid #eaeaec;
    margin-bottom: 50px;
    min-height: 150px;
}

.end-forum .end-forum-bg {
    position: relative;
}

.end-forum .end-forum-bg:before {
    content: '';
    position: absolute;
    background-image: url("../../assets/images/l-triangle.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2f5bea;
    width: 200px;
    height: auto;
}




